:root {
    --primary: rgba(0, 101, 224, 0.69);
    --secondary: rgba(0, 101, 224, 0.11);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Google Sans Flex', sans-serif;
    background-color: black;
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.primaryColor {
    color: var(--primary)
}

/* Hero section */

.heroContainer {
    display: flex;
    width: 90vw;
    margin: 5vh 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-image: url(/assets/hero-picture.png);
    background-size: 100vw;
}

.heroText  {
    margin-top: 20vh;
}

.heroTitle {
    font-size: 7.5vw;
    line-height: 15vh;
    color: white;
}

.heroSubtitle {
    margin: 4vh 0 2vh 0;
}

.subtitle {
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.90);
}

.tinierSubtitle {
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.80);
}

.heroCta {
    margin-top: 4vh;
}

.ctaPrimaryButton {
    margin-right: 1vw;
    background-color: var(--primary);
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
    padding: 1.5vh 1.5vw;
    border: none;
    transition: all ease 0.15s;

}

.ctaPrimaryButton:hover {
    padding: 1.5vh 2vw;
    font-weight: bold;
}

.ctaSecondaryButton {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    font-size: 1.2vw;
    padding: 1.5vh 1.5vw;
    text-decoration: none;
    transition: all ease 0.2s;
}

.ctaSecondaryButton:hover {
    background-color: var(--secondary);
    color: white;
}



/* Stack animation */

.stackContainer {
    display: flex;
    flex-direction: row;
    width: 16vw;
    height: 10vh;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin-top: 5vh;
}

.stackContainer::before, .stackContainer::after {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 2;
}

.stackContainer::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}


.stackContainer::before {
    left: 0;
    top: 0;
}

.stackList {
    display: flex;
    width: calc(50px * 8);
    animation: scroll 10s 0.5s linear infinite;
    gap: 1vw;
    width: calc((50px + 1vw) * 8 - 1vw);
}


@keyframes scroll {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(calc((-50px - 1vw) * 4));
    }
}

.stackImage {
    height: 50px;
    width: 50px;
}


/* Cards section */

.cardsContainer {
    width: 85vw;
    display: flex;
    justify-content: space-between;  
    margin-top: 8vh; 
}

.cardItem {
    display: flex;
}

.cardIcon {
    display: flex;
    align-items: center;
}

.cardImage {
    width: 5vw;
    margin-right: 1.5vw
}

.cardTitle {
    color: white;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: bold;
}

.cardSubtitle {
    color: white;
    font-size: 1.5rem;
}

/* About section */

.aboutContainer {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin-top: 16vh;
}


.aboutImage img {
    width: 500px;
    height: 550px;
}

.skillsList {
    display: flex;
    flex-direction: row;
}

.skillItem {
    color: var(--primary);
    border: 1px solid var(--primary);
    list-style: none;
    margin-left: 2vw;
    padding: 1vh 1vw;
    cursor: pointer;
}

.skillItem:hover {
    background-color: var(--primary);
    color: white;
    transition: all ease 0.15s;
}

.selectedSkillItem {
    background-color: var(--primary);
    color: white;
}

.aboutContent {
    width: 50vw;
    margin: 5vh 0 0 2vw;
    color: white;
}

.listTitle {
    font-size: 3.8vw;
    font-weight: bold;
    line-height: 8vh;
    margin-bottom: 2vh;
    color: white;
}

/* Experience Section */

.experienceContainer {
    width: 90vw;
    display: flex;
    margin-top: 16vh;
}
.experienceNav {
    display: flex;
    justify-content: center;
    width: 30vw;
}

.experienceText {
    width: 70vw;
}

.experienceList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5vw;
}

.experienceIcon {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#xp-title {
    color: var(--primary);
}

/* Projects Section */

.projectsContainer {
    width: 90vw;
    margin-top: 16vh;
}

.projectsTitle {
    margin-bottom: 8vh;
}

.projectsShowcase {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 3vw;
}

.projectItem {
    display: flex;
    background-color: var(--secondary);
    padding: 4vh 2vw;
    min-height: 45vh;
    width: 33vw;

}

.projectInfo {
    display: flex ;
    flex-direction: column;
    min-height: 100%;
    color: white;
    margin-left: 2vw;
}


.projectIcon{
    width: 80px;
    height: 80px;
}

.projectName {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 1.5vh;
}

.projectDescription {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.574);
    line-height: 3vh;
    margin-bottom: 1.5vh;
    white-space: pre-line;
}


.projectStack {
    color: rgba(255, 255, 255, 0.337);
    font-size: 0.8rem;
    margin-bottom: 2.5vh;
}

.projectLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1vh 1vw;
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    margin-top: auto;
}

.projectsGithub {
    display: flex;
    justify-content: center;    
    margin-top: 2vw;
}

.allProjectsButton {
    color: white;
    text-decoration: none;
    background-color: var(--primary);
    padding: 2vh 5vw;
}

/* Contact Section */

.contactContainer {
    background-color: var(--primary);
    margin-top: 16vh;
    padding-bottom: 8vh;
}

.contactContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contactTitle {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactForm {
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
}

.contactSocial {
    display: flex;
    align-items: center;    
    margin-bottom: 8vh;
}

.socialIcon {
    width: 50px;
    height: 50px;
    margin-left: 1vw;
}

.contactText {
    color: white;
    font-weight: 500;
    font-size: 4vw;
}

.contactSubtext {
    width: 40vw;
    margin-top: 1vh;
    color: white;
    font-size: 1.5vw;
}

.emailAdvice {
    color: rgba(255, 255, 255, 0.592);
    margin-top: 2vh;
}

input, textarea {
    width: 30vw;
    font-size: 1rem;
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0.112);
    margin-bottom: 1vh;
    padding: 0.5vw;
    font-family: 'Google Sans Flex', sans-serif;
}

input:focus {
    border: none;
    outline: none;
}

textarea:focus {
    border: none;
    outline: none;
}

label {
    color: white;
    margin: 1.5vh 0 0.5vh 0;
    font-size: 1.2rem;
}

textarea {
    height: 20vh;
}

.sendButton {
    border: none;
    padding: 1vh;
    margin-top: 4vh;
    font-family: 'Google Sans Flex', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: white;
    color: var(--primary);
    cursor: pointer;    
}
