:root {
    --primary: rgba(0, 101, 224, 0.69);
    --secondary: rgba(0, 101, 224, 0.11);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Google Sans Flex', sans-serif;
    background-color: black;
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.primaryColor {
    color: var(--primary)
}

/* Header */

.siteHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 2.5vh 5vw;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 10;
}

.headerLogo {
    height: 4vh;
}

.langToggle {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: white;
    padding: 0.8vh 0.8vw;
    font-family: 'Google Sans Flex', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.85);
    cursor: pointer;
    transition: all ease 0.1s;
}

.langToggle.lang-br {
    background-image: url('/assets/languages/brazil-br.webp');
}

.langToggle.lang-en {
    background-image: url('/assets/languages/english-usa.jpg');
}

.langToggle:hover {
    opacity: 0.85;
}


/* Hero section */

.heroContainer {
    display: flex;
    width: 90vw;
    margin: 5vh 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-size: 100vw;
}

.heroImage {
    width: 50vw;
    position: absolute;
    left: 50%;
    top: 4%;
}

.heroText  {
    margin-top: 20vh;
}

.heroTitle {
    font-size: 7.5vw;
    line-height: 15vh;
    color: white;
}

.heroSubtitle {
    margin: 4vh 0 2vh 0;
}

.subtitle {
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.90);
}

.tinierSubtitle {
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.80);
}

.heroCta {
    margin: 4vh 0 6vh 0;
    height: 5vh;
}

.ctaPrimaryButton {
    margin-right: 1vw;
    background-color: var(--primary);
    padding: 1.5vh 1.5vw;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    border: none;
    transition: all ease 0.15s;

}

.ctaPrimaryButton:hover {
    font-weight: bold;
}

.ctaSecondaryButton {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    font-size: 1.2rem;
    padding: 1.5vh 1.5vw;
    text-decoration: none;
    transition: all ease 0.2s;
}

.ctaSecondaryButton:hover {
    background-color: var(--secondary);
    color: white;
}



/* Stack animation */

.stackContainer {
    display: flex;
    flex-direction: row;
    width: 28vw;
    height: 10vh;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin-top: 5vh;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0) 100% 
    );
}

.stackContainer::before, .stackContainer::after {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 2;
}

.stackContainer::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}


.stackContainer::before {
    left: 0;
    top: 0;
}

.stackList {
    display: flex;
    width: fit-content;
    animation: scroll 20s 0.5s linear infinite;
    gap: 1vw;
}


@keyframes scroll {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-50%);
    }
}

.stackImage {
    height: 50px;
    width: 50px;
}


/* Cards section */

.cardsContainer {
    width: 85vw;
    display: flex;
    justify-content: space-between;  
    margin-top: 6vh; 
}

.cardItem {
    display: flex;
}

.cardIcon {
    display: flex;
    align-items: center;
}

.cardImage {
    width: 5vw;
    margin-right: 1.5vw
}

.cardTitle {
    color: white;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: bold;
}

.cardSubtitle {
    color: white;
    font-size: 1.5rem;
}

/* About section */

.aboutContainer {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin-top: 16vh;
}


.aboutImage img {
    width: 30vw;
    opacity: 85%;
}

.skillsList {
    display: flex;
    flex-direction: row;
}

.skillItem {
    color: var(--primary);
    border: 1px solid var(--primary);
    list-style: none;
    margin-left: 2vw;
    padding: 1vh 1vw;
    cursor: pointer;
}

#skill-description, #xp-description {
    font-size: 1.4rem;
    line-height: 4.5vh;
    text-align: justify;
}

.skillItem:hover {
    background-color: var(--primary);
    color: white;
    transition: all ease 0.15s;
}

.selectedSkillItem {
    background-color: var(--primary);
    color: white;
}

.aboutContent {
    width: 50vw;
    margin: 5vh 0 0 2vw;
    color: white;
}

.listTitle {
    font-size: 3.8vw;
    font-weight: bold;
    line-height: 8vh;
    margin-bottom: 2vh;
    color: white;
}

/* Experience Section */

.experienceContainer {
    width: 90vw;
    display: flex;
    margin-top: 16vh;
    background-color: var(--secondary);
    padding: 6vh 2vw;
    min-height: 63.5vh;
}

#xp-title {
    color: white;
    margin-bottom: 3vh;
}

#xp-description {
    color: white;
    font-size: 1.3rem;
}

.experienceCarousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    width: 100%;
}

.experienceNav {
    width: 20vw;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.carouselControls {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    margin-right: 2vw;
}

.carouselArrow {
    background: transparent;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease 0.15s;
}

.carouselArrow:hover {
    color: var(--primary);
}

.experienceText {
    width: 65vw;
}

.experienceIcon {
    width: 150px;
    height: 150px;
}
/* Projects Section */

.projectsContainer {
    width: 90vw;
    margin-top: 16vh;
}

.projectsTitle {
    margin-bottom: 8vh;
}

.projectsShowcase {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 3vw;
}

.projectItem {
    display: flex;
    background-color: var(--secondary);
    padding: 4vh 2vw;
    width: auto;

}

.projectInfo {
    display: flex ;
    flex-direction: column;
    min-height: 100%;
    color: white;
    margin-left: 2vw;
}


.projectIcon{
    width: 5.5vw;
}

.projectName {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 1.5vh;
}

.projectDescription {
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.574);
    line-height: 2.8vh;
    margin-bottom: 1.5vh;
    white-space: pre-line;
}


.projectStack {
    color: rgba(255, 255, 255, 0.337);
    font-size: 0.8rem;
    margin-bottom: 2.5vh;
}

.projectLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1vh 1vw;
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    text-decoration: none;
    margin-top: auto;
    transition: all ease 0.1s;
}

.projectLink:hover {
    background-color: var(--primary);
    color: white;
}

.projectsGithub {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin-top: 6vh;
    height: 10vh;
}

.allProjectsButton {
    color: white;
    text-decoration: none;
    background-color: var(--primary);
    padding: 2vh 5vw;
    transition: all ease 0.1s;
}

.allProjectsButton:hover {
    font-size: 1.1rem;
}

/* Contact Section */

.contactContainer {
    background-color: var(--primary);
    margin-top: 16vh;
    padding-bottom: 8vh;
}

.contactContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contactLogo {
    width: 10vw;
}

.contactTitle {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactForm {
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
}

.contactSocial {
    display: flex;
    align-items: center;    
    margin-bottom: 8vh;
}

.socialIcon {
    width: 50px;
    height: 50px;
    margin-left: 1vw;
}

.contactText {
    color: white;
    font-weight: 500;
    font-size: 4vw;
}

.contactSubtext {
    width: 40vw;
    margin-top: 1vh;
    color: white;
    font-size: 1.5vw;
}

.emailAdvice {
    color: rgba(255, 255, 255, 0.592);
    margin-top: 2vh;
}

input, textarea {
    width: 30vw;
    font-size: 1rem;
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0.112);
    margin-bottom: 1vh;
    padding: 0.5vw;
    font-family: 'Google Sans Flex', sans-serif;
}

input:focus {
    border: none;
    outline: none;
}

textarea:focus {
    border: none;
    outline: none;
}

label {
    color: white;
    margin: 1.5vh 0 0.5vh 0;
    font-size: 1.2rem;
}

textarea {
    height: 20vh;
}

.sendButton {
    border: none;
    padding: 1vh;
    margin-top: 4vh;
    font-family: 'Google Sans Flex', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: white;
    color: var(--primary);
    cursor: pointer;    
}
